In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_columns', 50)
%matplotlib inline

In [9]:
s1 = pd.Series([0.2, 0.8, 4.2, 3.1, 2.1], index=['a', 'b', 'c', 'd', 'e'])

In [7]:
d = {'a' : 0., 'b' : 1., 'c' : 2., 'e': 3., 'f': 4.}
s2 = pd.Series(d)

In [10]:
s1+s2

a    0.2
b    1.8
c    6.2
d    NaN
e    5.1
f    NaN
dtype: float64

In [11]:
s1[['a', 'b']]

a    0.2
b    0.8
dtype: float64

In [12]:
s1 < 5

a    True
b    True
c    True
d    True
e    True
dtype: bool

In [13]:
s1[s1< 5]

a    0.2
b    0.8
c    4.2
d    3.1
e    2.1
dtype: float64

In [15]:
s1 [[True, True, True, False]]

/opt/conda/lib/python3.6/site-packages/pandas/core/internals.py:252: VisibleDeprecationWarning: boolean index did not match indexed array along dimension 0; dimension is 5 but corresponding boolean dimension is 4
  return self.values[slicer]
/opt/conda/lib/python3.6/site-packages/pandas/indexes/base.py:1434: VisibleDeprecationWarning: boolean index did not match indexed array along dimension 0; dimension is 5 but corresponding boolean dimension is 4
  result = getitem(key)

a    0.2
b    0.8
c    4.2
dtype: float64

In [16]:
s1 [[True, True, True, False]]

/opt/conda/lib/python3.6/site-packages/pandas/core/internals.py:252: VisibleDeprecationWarning: boolean index did not match indexed array along dimension 0; dimension is 5 but corresponding boolean dimension is 4
  return self.values[slicer]
/opt/conda/lib/python3.6/site-packages/pandas/indexes/base.py:1434: VisibleDeprecationWarning: boolean index did not match indexed array along dimension 0; dimension is 5 but corresponding boolean dimension is 4
  result = getitem(key)

a    0.2
b    0.8
c    4.2
dtype: float64

In [17]:
print('\n')

In [18]:
s1.isnull()

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [19]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
df1 = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])
df1

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [20]:
(s1+s2).isnull()

a    False
b    False
c    False
d     True
e    False
f     True
dtype: bool

In [21]:
df1.describe()

              year       wins     losses
count     8.000000   8.000000   8.000000
mean   2011.125000   9.375000   6.625000
std       0.834523   3.377975   3.377975
min    2010.000000   4.000000   1.000000
25%    2010.750000   7.500000   5.000000
50%    2011.000000  10.000000   6.000000
75%    2012.000000  11.000000   8.500000
max    2012.000000  15.000000  12.000000

In [24]:
x = df1['year']
x[x >= 2012]

2    2012
4    2012
7    2012
Name: year, dtype: int64

In [26]:
df1['year'>= 2012]

TypeError: '>=' not supported between instances of 'str' and 'int'

In [29]:
x = df1['wins']
x[x > 10]

0    11
3    15
4    11
Name: wins, dtype: int64

In [30]:
s1[s1 < 3]

a    0.2
b    0.8
e    2.1
dtype: float64

In [31]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6]}

In [32]:
df2 = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])
df2

ValueError: arrays must all be same length

In [33]:
%load_ext sql

ModuleNotFoundError: No module named 'sql'

In [36]:
import sqlite3
db = sqlite3.connect(':memory:')
cursor = db.cursor()
cursor.execute('''
    CREATE TABLE football(years INTEGER, team TEXT, wins INTEGER, losses INTEGER)
''')
db.commit()

In [37]:
cursor = db.cursor()
cursor.execute('''INSERT INTO football VALUES(?,?,?,?)''', (2010, 'Bears', 11, 5))
cursor.execute('''INSERT INTO football VALUES(?,?,?,?)''', (2011, 'Bears', 8, 8))
cursor.execute('''INSERT INTO football VALUES(?,?,?,?)''', (2012, 'Bears', 10, 6))
cursor.execute('''INSERT INTO football VALUES(?,?,?,?)''', (2011, 'Packers', 15, 1))
cursor.execute('''INSERT INTO football VALUES(?,?,?,?)''', (2012, 'Packers', 11, 5))
cursor.execute('''INSERT INTO football VALUES(?,?,?,?)''', (2010, 'Lions', 6, 10))
cursor.execute('''INSERT INTO football VALUES(?,?,?,?)''', (2011, 'Lions', 10, 6))
cursor.execute('''INSERT INTO football VALUES(?,?,?,?)''', (2012, 'Lions', 4, 12))
db.commit()

In [38]:
data = [(2010, 'Bears', 11, 5), (2011, 'Bears', 8, 8), (2012, 'Bears', 10, 6), (2011, 'Packers', 15, 1),
(2012, 'Packers', 11, 5), (2010, 'Lions', 6, 10), (2011, 'Lions', 10, 6), (2012, 'Lions', 4, 12)]

cursor.executemany('''INSERT INTO football VALUES(?,?,?,?)''', data)
db.commit()

In [40]:
c = cursor.execute('''select * from football''')

In [41]:
c

In [42]:
c.fetchall()

[(2010, 'Bears', 11, 5),
 (2011, 'Bears', 8, 8),
 (2012, 'Bears', 10, 6),
 (2011, 'Packers', 15, 1),
 (2012, 'Packers', 11, 5),
 (2010, 'Lions', 6, 10),
 (2011, 'Lions', 10, 6),
 (2012, 'Lions', 4, 12),
 (2010, 'Bears', 11, 5),
 (2011, 'Bears', 8, 8),
 (2012, 'Bears', 10, 6),
 (2011, 'Packers', 15, 1),
 (2012, 'Packers', 11, 5),
 (2010, 'Lions', 6, 10),
 (2011, 'Lions', 10, 6),
 (2012, 'Lions', 4, 12)]

In [43]:
c.execute('''select max(wins) from football''')

In [45]:
c.execute('''select * from football where wins > 10''').fetchall()

[(2010, 'Bears', 11, 5),
 (2011, 'Packers', 15, 1),
 (2012, 'Packers', 11, 5),
 (2010, 'Bears', 11, 5),
 (2011, 'Packers', 15, 1),
 (2012, 'Packers', 11, 5)]

In [46]:
df1[df1.wins>10]

   year     team  wins  losses
0  2010    Bears    11       5
3  2011  Packers    15       1
4  2012  Packers    11       5

In [47]:
df1['wins'] > 10

0     True
1    False
2    False
3     True
4     True
5    False
6    False
7    False
Name: wins, dtype: bool

In [48]:
df1['losses']

0     5
1     8
2     6
3     1
4     5
5    10
6     6
7    12
Name: losses, dtype: int64

In [49]:
c.execute('''select losses from football''').fetchall()

[(5,),
 (8,),
 (6,),
 (1,),
 (5,),
 (10,),
 (6,),
 (12,),
 (5,),
 (8,),
 (6,),
 (1,),
 (5,),
 (10,),
 (6,),
 (12,)]